{["api", "data-sources"], lifeguard_web_ds_list, []}.
{["api", "data-sources", name], lifeguard_web_ds_get, []}.
{["api", "watches"], lifeguard_web_watches, []}.
{["api", "watches", name], lifeguard_web_watches, []}.
{["static", '*'], lifeguard_web_static, ["static"]}.
{['*'], lifeguard_web_ui, []}.
